<form action="/alterarvendedor" method="GET"> 
    <p>Informe o código:</p>
    <input type="number" name="id">
    <p>Cargo: </p>
    <input type="text" name="cargo">
    <p>Usuário: </p>
    <input type="text" name="nome">    
    <p>Senha: </p>
    <input type="text" name="senha">
    <button type="submit">Confirmar</button>
</form>    

<a href="/inicio">Página Inicial</a>