<form action="/addvenda" method="POST">
    <p>Vendedor: </p>
    <input type="text" name="vendedor">
    <p>Cliente: </p>
    <input type="text" name="cliente">
    <p>Produto: </p>
    <input type="text" name="produto">
    <p>Valor: </p>
    <input type="number" name="valor">
    <button type="submit">Cadastrar</button>
</form>    

<a href="/inicio">Página Inicial</a>