<form action="/addvendedor" method="POST">
    <p>Cargo: </p>
    <input type="text" name="cargo">
    <p>Usuário: </p>
    <input type="text" name="nome">    
    <p>Senha: </p>
    <input type="text" name="senha">
    <button type="submit">Cadastrar</button>
</form>    
<a href="/inicio">Página Inicial</a>