.funcionario-info{
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;

}
.funcionario-info h1{
    font-size: 32px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}
.funcionario-info p{
    columns: #666666;
    line-height: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: black;
}
