.funcionario-info{
    max-width: 800px;
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;

}
.actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background:rgb(214, 135, 70);
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    margin-left: 30px;

}