.customer-info {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 20px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #DDD;
}

.customer-info p {
    color: #666;
    line-height: 24px;
    margin-top: 5px;
}

.customer-info a.button {

    text-decoration: none;
    color: initial;

    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.customer-info .actions button:hover {
    opacity: 0.8;
}

.customer-info .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.customer-info .actions a:hover {
    opacity: 0.8;
}

.customer-info .actions a {
    text-decoration: none;
    color: initial;

    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.customer-info .actions a:hover {
    background: #da552f;
    color: #FFF;
}