.customer-list {
    max-width: 700px;
    margin: 20px auto 0;
    padding: 0 20px;
}

.customer-list article{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.customer-list article a {
    height: 42px;
    border-radius: 5px;
    border: 2px solid  #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.2s;
}

.customer-list article a:hover {
    background: #da552f;
    color: #FFF;
}

.customer-list .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.customer-list .actions button {
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #da552f;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.customer-list .actions button:hover {
    opacity: 0.8;
}